/* line 7, /Users/akhkharu/projects/javascript/tzbuddy/source/stylesheets/base.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 50px;
  color: black; }

/* line 13, /Users/akhkharu/projects/javascript/tzbuddy/source/stylesheets/base.scss */
a {
  color: grey; }

/* line 17, /Users/akhkharu/projects/javascript/tzbuddy/source/stylesheets/base.scss */
form {
  float: left;
  width: 70%;
  text-align: left;
  min-width: 300px; }
  @media screen and (min-width: 769px) {
    /* line 17, /Users/akhkharu/projects/javascript/tzbuddy/source/stylesheets/base.scss */
    form {
      border-right: 1px solid grey;
      height: 400px; } }
  /* line 28, /Users/akhkharu/projects/javascript/tzbuddy/source/stylesheets/base.scss */
  form input#tzinput {
    width: 90%;
    line-height: 40px;
    font-size: 30px;
    border: 1px solid grey;
    padding: 10px; }
  /* line 36, /Users/akhkharu/projects/javascript/tzbuddy/source/stylesheets/base.scss */
  form #result {
    margin-top: 10px;
    font-size: 40px; }

/* line 42, /Users/akhkharu/projects/javascript/tzbuddy/source/stylesheets/base.scss */
.samples {
  width: 25%;
  float: left; }
  @media screen and (min-width: 769px) {
    /* line 42, /Users/akhkharu/projects/javascript/tzbuddy/source/stylesheets/base.scss */
    .samples {
      margin-left: 20px; } }
  /* line 50, /Users/akhkharu/projects/javascript/tzbuddy/source/stylesheets/base.scss */
  .samples h2 {
    margin-top: 0px; }
  /* line 54, /Users/akhkharu/projects/javascript/tzbuddy/source/stylesheets/base.scss */
  .samples ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
    /* line 59, /Users/akhkharu/projects/javascript/tzbuddy/source/stylesheets/base.scss */
    .samples ul li {
      padding: 2px 0px;
      margin-bottom: 4px; }
