---
title: tzbuddy
---

<form>
  <input id="tzinput" type="text" placeholder="Paste time here" autofocus="true" />
  <div id="result"></div>
</form>

<div class="samples">
  <h2>Examples:</h2>
  <ul>
    <li><a href="#">10am PST this Tuesday</a></li>
    <li><a href="#">9pm 08/10 Pacific Time</a></li>
    <li><a href="#">2014/08/25 21:15:00 EST</a></li>
    <li><a href="#">10pm July 3 Moscow Time to Pacific Time</a></li>
    <li><a href="#">01/25/2014 EST to PST</a></li>
  </ul>
</div>
