---
title: tzbuddy
---

<form>
  <input id="tzinput" type="text" placeholder="Paste time here" autofocus="true" />
  <div id="result"></div>
  <h2>Examples:</h2>
  <ul>
    <li>10am PST this Tuesday</li>
    <li>9pm 08/10 Pacific Time</li>
    <li>2014/08/25 21:15:00 EST</li>
  </ul>
</form>
